$sp: 680px;  // スマホ
@mixin sp {
    @media (max-width: ($sp)) {
      @content;
    }
}


body {
    background-color: #000;
    
    header {
        height: 130px;
        width: 100%;
        background-color: #000;
        @include sp {
            height: 82px;
        }
        // position: fixed;
        // top: 0;
        // left: 0;
        .wakuzawa_logo {
            height: 130px;
            width: 420px;
            margin: 0 auto;
            position: relative;
            @include sp {
                height: 82px;
                width: 260px;    
            }
            a {
                position: absolute;
                bottom: 0;
                img {
                    width: 100%;
                }
    
            }

        }
    }//header

    main {
        width: 100%;
        margin-top: 80px;
        @include sp {
            margin-top: 50px;
        }
        .info_img {
            width: 420px;
            margin: 0 auto;
            @include sp {
                width: 260px;
            }
            img {
                width: 100%;
            }
        }

    }
}